.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  color: white;
  padding: 15px 25px;
}

.header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header button {
  background: #3b82f6;
  border: none;
  padding: 6px 12px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* CONTAINER */
.container {
  display: flex;
  flex: 1;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
  background: #f1f5f9;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}